    {{#with produto}}
    <div>
        <h1>{{this.nome}}</h1>
        <li>{{this.memoria}}</li>
        <li>camera de : {{this.camera}}</li>
        <li>chipset: {{this.chipset}}</li>
        <li>preço: {{this.preco}}</li>
        <br>
        <a href="/">Voltar para a pagina inicial</a>
    </div>
    {{/with}}